.custom_success_button {
    background: #5CB85C;
    border: #5CB85C solid 2px;
    color: white;
}

.login_container {
    border: #E5E5E5 solid 1px;
    width: 650px;
    height: 445px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
}